html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #31343f;
}

.headers {
  text-align: center;
  transform: translate3d(0, -55%, 0);
  top: 50%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in;
  color: #edecec;
}
.headers.end {
  opacity: 1;
  transform: translate3d(0, -50%, 0);
}

.icons {
  margin-top: 50px;
}
  .icons a {
    font-size: 2.5rem;
    margin-right: 25px;
    text-decoration: none;
    color: #edecec;
  }
  .icons a:last-child {
    margin-right: 0;
  }

h1 {
  font-family: hack-bold;
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-family: hack;
  font-size: 2rem;
  margin: 0;
}

.typed {
  color: #7db9fe;
  font-style:normal;
  text-decoration: none;
}

@font-face {
  font-family: hack;
  src: url('/fonts/hack-regular-webfont.ttf');
}

@font-face {
  font-family: hack-bold;
  src: url('/fonts/hack-bold-webfont.ttf');
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media (max-width: 500px) {
  html {
    font-size: 11px;
  }
  .icons a {
    font-size: 3rem;
  }
  h1 {
    word-spacing: -10px;
  }
}
